# Create .env.dev and .env.prod. Set ALCHEMY_STAGE accordingly and use different secrets between dev and prod as needed.
# Symlink .dev.vars to .env.dev so Cloudflare can access secrets in local dev.

ALCHEMY_STAGE=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_DATABASE_ID=""
CLOUDFLARE_D1_TOKEN=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:5173"

SECRET_ALCHEMY_PASSPHRASE=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL=""
APP_NAME=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET="